.card {
  color: #fff;
  background-color: hsl(244, 38%, 16%);
  border-radius: 6px;
  overflow: hidden;
}

.card_header {
  height: 250px;
  position: relative;
}

.card_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 75%;
  mix-blend-mode: multiply;
}

.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
}

.card_body {
  padding: 35px;
}

.card_title {
  margin: 0;
  margin-top: 10px;
  font-size: 27px;
  text-align: center;
}

.card_title_highlight {
  color: hsl(277, 64%, 61%);
}

.card_para {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: center;
  font-size: 15px;
  line-height: 1.6rem;
  margin: 0;
  margin-top: 20px;
}

.card_stats {
  padding-top: 40px;
}

.card_stats_item {
  text-align: center;
}

.card_stats_item:not(:last-of-type) {
  margin-bottom: 30px;
}

.card_stats_value {
  display: block;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.card_stats_heading {
  display: block;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 8px;
}
